<!DOCTYPE html> 
<html>
    <head> 
        <meta charset="UTF-8"> 
        <title>kts2022</title> 
        <link rel="stylesheet" type="text/css" href="index.css"> 
        <script src="script.js"></script> 
    </head>

    <body> 
        <div class="main">
            <div class="SearchBar">
                <input class="InputLine" type="text" placeholder="Введите название организации"></input>
                <button class="SearchButton"></button>
            </div>
            <div class="ReposList">
                <div class="GitRepoTile">
                    <div class="Avatar">K</div>
                    <div class="Content">
                        <div class="RepoName">kts-school-frontend-ashdbjvhfbjj</div>
                        <div class="OrgName">ktsstudio</div>
                        <div class="Info">
                            <div class="StarFrame">
                                <div class="Star"></div>
                                123
                            </div>
                            Updated 21 Jul
                        </div>
                    </div>
                </div>
                <div class="GitRepoTile">
                    <div class="Avatar"><img src="./imgs/avatar.png"></div>
                    <div class="Content">
                        <div class="RepoName">kts-school-frontend</div>
                        <div class="OrgName">ktsstudio</div>
                        <div class="Info">
                            <div class="StarFrame">
                                <div class="Star"></div>
                                123
                            </div>
                            Updated 21 Jul
                        </div>
                    </div>
                </div>
                <div class="GitRepoTile">
                    <div class="Avatar">K</div>
                    <div class="Content">
                        <div class="RepoName">kts-school-frontend</div>
                        <div class="OrgName">ktsstudio</div>
                        <div class="Info">
                            <div class="StarFrame">
                                <div class="Star"></div>
                                123
                            </div>
                            Updated 21 Jul
                        </div>
                    </div>
                </div>
                <div class="GitRepoTile">
                    <div class="Avatar">K</div>
                    <div class="Content">
                        <div class="RepoName">kts-school-frontend</div>
                        <div class="OrgName">ktsstudio</div>
                        <div class="Info">
                            <div class="StarFrame">
                                <div class="Star"></div>
                                123
                            </div>
                            Updated 21 Jul
                        </div>
                    </div>
                </div>
                <div class="GitRepoTile">
                    <div class="Avatar">K</div>
                    <div class="Content">
                        <div class="RepoName">kts-school-frontend</div>
                        <div class="OrgName">ktsstudio</div>
                        <div class="Info">
                            <div class="StarFrame">
                                <div class="Star"></div>
                                123
                            </div>
                            Updated 21 Jul
                        </div>
                    </div>
                </div>
                <div class="GitRepoTile">
                    <div class="Avatar">K</div>
                    <div class="Content">
                        <div class="RepoName">kts-school-frontend</div>
                        <div class="OrgName">ktsstudio</div>
                        <div class="Info">
                            <div class="StarFrame">
                                <div class="Star"></div>
                                123
                            </div>
                            Updated 21 Jul
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>