@import '@styles/variables.scss';
.main {
    background-color: $background-primary;
    width: 27vw;
    height: 100vh;
    padding: 2vmin;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 92%;
}

.searchBar {
    display: flex;
    justify-content: space-between;
}

.searchBar__InputLine:disabled {
    background: $disabled;
}