.main {
    background-color: var(--bacground-primary);
    width: 27vw;
    height: 100vh;
    padding: 2vmin;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 92%;
}

.SearchBar {
   display: flex;
   justify-content: space-between;
}

.SearchBar__InputLine:disabled {
    background: var(--disabled);
}
