@import '@styles/variables.scss';

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 13vh;
    width: 13vh;
    background: $accent;
    border-radius: 50%;
    font-weight: bold;
    color: $background-primary;
    font-size: 8vh;
}