$background-primary: var(--background-primary);
$color-hint: var(--color-hint);
$color-default: var(--color-default);
$color-border: var(--color-border);
$accent: var(--accent);
$star-accent: var(--star-accent);
$link-hover: var(--link-hover);
$disabled: var(--disabled);

:root {
    --bacground-primary: white;
    --color-hint: #7E7E7E;
    --color-default: black;
    --color-border: #D9D9D9;
    --accent: #FF5555;
    --star-accent: #FF9432;
    --link-hover: #208FBF;
    --disabled: #F9F9F9;
}
