.search-button {
    width: 7vh;
    height: 7vh;
    background: var(--accent);
    border-radius: 1vh;
    border: none;
}

.search-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.search-button:disabled {
    background: var(--color-border)
}